{% extends "layout.html" %}

{% block title %}TA Evaluations Admin Panel{% endblock %}

{% block content %}
<p>Hello {{ admin.email }}</p>

{% for error in errors %}
  <div style="color:#F00">Error: {{ error }}</div>
{% endfor %}

{% for warning in warnings %}
  <div style="color:#FC0">Warning: {{ warning }}</div>
{% endfor %}

{% for success in successes %}
  <div style="color:#00F">{{ success }}</div>
{% endfor %}

{% if not courses %}
  <h2>Upload CSV File</h2>
  <form action="/admin" method="post" enctype="multipart/form-data">
    <div>TAs CSV File: <input type="file" name="tas" /></div>
    <div>Students CSV File: <input type="file" name="students" /></div>
    <div>
      <input type="hidden" name="action" value="upload" />
      <input type="submit" value="Upload" />
    </div>
  </form>
{% else %}
  <h2>Statistics</h2>
  <ol>
  {% for course in courses.items %}
    <li>{{ course.0 }}: {{ course.1 }} remaining evaluations</li>
  {% endfor %}
  </ol>
  <form action="/admin" method="post">
    <input type="hidden" name="action" value="email" />
    <div>
      From Name: <input type="text" name="name" />
      <input type="submit" value="Email Invites" />
      (Emails are sent from your email address)
    </div>
  </form>
  <form action="/admin" method="post">
    <div>
      Type 0xDEADBEEF to confirm: <input type="text" name="confirm" />
      <input type="hidden" name="action" value="reset" />
      <input type="submit" value="Reset Database" />
    </div>
  </form>
{% endif %}
{% endblock %}
