{% extends "layout.html" %}

{% block title %}TA Evaluations Admin Panel{% endblock %}

{% block content %}
<p>Hello {{ admin.email }}</p>

{% for error in errors %}
  <div style="color:#F00">Error: {{ error }}</div>
{% endfor %}

{% for warning in warnings %}
  <div style="color:#FC0">Warning: {{ warning }}</div>
{% endfor %}

{% for success in successes %}
  <div style="color:#00F">{{ success }}</div>
{% endfor %}

{% if not courses %}
  <h2>Upload CSV File</h2>
  <form action="/admin" method="post" enctype="multipart/form-data">
    <div>TAs CSV File: <input type="file" name="tas" /></div>
    <div>Students CSV File: <input type="file" name="students" /></div>
    <div>
      <input type="hidden" name="action" value="upload" />
      <input type="hidden" name="token" value="{{ form_token }}" />
      <input type="submit" value="Upload" />
    </div>
  </form>
{% else %}
  <h2>Statistics</h2>
  <div><a href="/admin/all">All</a></div>
  <ol>
  {% for course in courses.items %}
    <li><a href="/admin/s/{{ course.0 }}">{{ course.0 }}</a>
      <ol>
	{% for ta in course.1.items %}
	  <li><a href="/admin/s/{{ course.0 }}/{{ ta.0 }}">{{ ta.0 }}</a>:
	    {{ ta.1.completed }} completed, {{ ta.1.remaining }} remaining</li>
	{% endfor %}
      </ol>
    </li>
  {% endfor %}
  </ol>
  <hr/>
  <form action="/admin" method="post">
    <input type="hidden" name="action" value="email" />
    <input type="hidden" name="token" value="{{ form_token }}" />
    <div>
      From Name: <input type="text" name="name" />
      <input type="submit" value="Email Invites" />
      (Emails are sent from your email address)
    </div>
  </form>
  <form action="/admin" method="post">
    <div>
      Type 0xDEADBEEF to confirm: <input type="text" name="confirm" />
      <input type="hidden" name="action" value="reset" />
    <input type="hidden" name="token" value="{{ form_token }}" />
      <input type="submit" value="Reset Database" />
    </div>
  </form>
  <p><a href="/admin/dl">Download all results</a></p>
{% endif %}
{% endblock %}
