{% extends "layout.html" %}

{% block title %}TA Evaluations Admin Panel{% endblock %}

{% block content %}
{% for error in errors %}
  <div style="color:#F00">Error: {{ error }}</div>
{% endfor %}

{% for warning in warnings %}
  <div style="color:#FC0">Warning: {{ warning }}</div>
{% endfor %}

{% for success in successes %}
  <div style="color:#00F">{{ success }}</div>
{% endfor %}

{% if not courses %}
  <h2>Upload CSV File</h2>
  <form action="/admin" method="post" enctype="multipart/form-data">
    <div>TAs CSV File: <input type="file" name="tas" /></div>
    <div>Students CSV File: <input type="file" name="students" /></div>
    <input type="hidden" name="action" value="upload" />
    <input type="submit" value="Upload" />
  </form>
{% else %}
  <h2>Statistics</h2>
  <ol>
  {% for course in courses.items %}
    <li>{{ course.0 }}: {{ course.1 }} remaining evaluations</li>
  {% endfor %}
  </ol>
  <form action="/admin" method="post">
    <input type="hidden" name="action" value="clear" />
    <input type="submit" value="Clear All" />
  </form>
{% endif %}
{% endblock %}
