<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{% block title %}TA Evals{% endblock %}</title>
  <meta http-equiv="content-type" content="application/xhtml+xml;
  charset=utf-8" />
  <meta name="description" content="TA Evaluations" />
  <link rel="icon" type="image/vnd.microsoft.icon"
  href="http://www.gstatic.com/codesite/ph/images/phosting.ico" />
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"/>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
